.page-container {
  min-height: calc(100vh - 60px);

  /* background-color: beige; */
}

.login-register-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 415px;
  margin: 0 auto;

  /* margin-top: 20px; */
  /* background-color: rgb(255, 193, 193); */
}

/* Product Page */

.product-page-container {
  height: calc(100vh - 100px);
}

.product-container {
  display: flex;
  height: 100%;
}

.product-images-container {
  display: flex;
  align-items: center; 
  height: 100%;
}

.product-main-image-container {
    height: 100%;
    object-fit: cover;
}

.product-main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-thumbnails-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  height: 100%;
  
}

.product-thumbnail {
  height: fit-content;
  cursor: pointer;
  height: 200px;
}

/* .product-thumbnail.selected {
  
  object-fit: cover;
} */

.product-thumbnail-image {
  object-fit: cover;
  height: 200px; 
  width: 100%;
}

.product-thumbnails-container::-webkit-scrollbar {
  width: 3px;
}


/* ///////////// */

.size-selector {
  position: relative;
  display: inline-block;
}

select {
  appearance: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 150px;
  cursor: pointer;
  outline: none;
}

select:focus {
  border-color: #007bff;
}

.arrow-down {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style the arrow-down icon */
.arrow-down::before {
  content: '▼';
  font-size: 14px;
  color: #333;
}

/* ///////////// */
