.page-container {
    min-height: calc(100vh - 60px);
    
    /* background-color: beige; */
}

.login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 415px;
    margin: 0 auto;


    /* margin-top: 20px; */
    /* background-color: rgb(255, 193, 193); */

}