.parentCategories-container,
.categories-container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-right: 20px;
}

.parentCategories-list,
.categories-list {
  display: flex;
  flex-direction: column;
}

.parentCategories-list {
  font-size: 20px;
  font-weight: 600;
  gap: 10px;
}

.categories-list {
  font-size: 14px;
  font-weight: normal;
  gap: 7px;
}


.categories-item a:hover,
.parentCategories-item a:hover {
  color: rgb(87, 100, 115);
}

.categories-item a:hover::after {
  content: '';
  position: relative;
  left: 0;
  bottom: -3px;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
  display: block;
}

.categories-item a:hover::after,
.categories-item a:active::after,
.categories-item a:focus::after {
  border-color: #000;
}

/* Form Header Button */

.form-header-button-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;

  border-top: 1px #ddd solid;

  cursor: pointer;
}

.form-header-button-container.off {
  background-color: #ddd;
}

.form-header-button-container:first-child {
  margin-right: 5px;
  border-right: 1px #ddd solid;  
}

.form-header-button-container:last-child {
  margin-left: 5px;
  border-left: 1px #ddd solid;
}

.form-header-button-container span {
  font-size: 20px;
  font-weight: 500;
  
  align-self: center;
  
}


.input-group-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group-container label {
  font-size: 18px;
}

.input-container {
  height: 35px;
  border: 1px #ddd solid;
  background-color: #eff1f3;
}

.text-danger {
  color: red;
}
