@using ASP_Project.Areas.Identity.Data.DbContexts;
@using ASP_Project.Areas.Identity.Data.Models
@inject UserContext _context
@model Product
@{
	ViewData["Title"] = "Delete category";
	var categories = _context.Categories.ToList();

}

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Product</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Make"></label>
			<input asp-for="Make" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<input asp-for="Description" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Fabric"></label>
			<input asp-for="Fabric" disabled class="form-control" />
		</div>
		<div class="mb-3">
			@* mojno ubrat *@
			<select asp-for="CategoryId" disabled class="form-select">
				<option value="" selected>Select a category</option>
				@foreach (var category in categories)
				{
					<option value="@category.Id">@category.Name</option>
				}
			</select>
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@{
	<partial name="_ValidationScriptsPartial" />
}