/* header */

.navbar-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.submenu-container {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 99;
}


/* Product Cards */

.productCards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;

    justify-items: center;
}

.productCards-container * {
    width: auto;
}

/* Auth Form */

.authForm-container {
    width: 100%;
    height: 500px;

    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
}