/* header */

.navbar-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.submenu-container {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 99;
}


/* Product Cards */

.productCards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    width: 100%;
}